*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-family-1: 'Leckerli One', sans-serif;
    --logo: 400 2.5rem var(--font-family-1);

    --font-family-2: 'Baloo 2', sans-serif;
    --heading-md: 400 1,75rem var(--font-family-2);
    --heading-sm: 400 1,125rem var(--font-family-2);

    --font-family-3: 'Open sans', sans-serif;
    --body-md: 400 1rem var(--font-family-3);
    --body-sm: 400 .875rem var(--font-family-3);
    --body-xs: 400 .75rem var(--font-family-3);

    --shape-background:#131516;
    --shape-body: #212427;
    --shape-button:#2D3136;
    --shape-hover:#383D42;

    --text-body:#C8CDD0;
    --text-heading:#F9F9F9;

    --input-base:#1C1F21;
    --input-stroke:#363B40;
    --input-placeholder:#869198;

    --purple:#B259FF;
    --fuschia:#FF59F9;
    --pink:#FF598B;
    --orange:#FF8B59;
    --yellow:#FFCD59;
    --lime:#E1FF59;
    --green:#59FF91;
    --cyan:#59FFF9;
    --navy:#6A59FF;

}

body{
    overflow: hidden;
    background-color: black
}

img{
    max-width: 100%;
}