#app{
    display: grid;
    grid-template-columns: 32.79% 67.21%;

    height: 100vh;
}

main{
    overflow: auto;
    padding: 5rem;
}

aside{
    background-image: url('../assets/bolo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .aside-container{
        display: flex;
        justify-content: center;
        font: var(--logo);
        color: var(--pink);
    }
}

.title_logo{
    display: flex;
    justify-content: center;
    font: var( --body-md);
    color: var( --text-heading);
}