#app{
    display: grid;
    grid-template-columns: 32.79% 67.21%;

    height: 100vh;
}

main{
    margin: 1rem;
    overflow: auto;
    padding: 5rem;
    background-color: var(--shape-background);
    border-radius: 10px;

    .main-container{
        margin-top: 3.5rem;
        margin-bottom: 2.5rem;
        margin-left: 5rem;
         font: var(--heading-md);
        color: var(--text-heading);
        font-size: 1.75rem;
        font-weight: 600;
    }
    .sobre{
        margin-left: 5rem;
        font: var(--heading-md);
        font-size: 1.25rem;
        font-weight: 600;
        color: var(--text-heading);
        margin-bottom: 1.5rem;
        img{
            width: 1.5rem;
            margin-right: .75rem;
            transform: translateY(0.25rem);
        }
    }
}

aside{
    margin: 1rem;
    border-radius: 10px;
    background-image: url('../assets/bolo.png');
    background-position: center;
    background-size: 30rem 47.5625rem;

    .aside-container{
        margin-left: 3rem;
        margin-bottom: .25rem;
        font: var(--logo);
        color: var(--pink);
    }

    .title_logo{
    font: var( --body-md);
    color: var( --text-heading);    
    margin-left: 3rem;
}

    img{
        width: 2.86rem;
        margin-left: 3rem;
        margin-bottom: 1rem;
        margin-top: 3rem;
    }
}

